<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.jykj.com.jykj_zxyl.app_base">

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".base_html5.H5Activity">

        </activity>

        <service android:name="www.jykj.com.jykj_zxyl.app_base.base_service.PushIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
        <service
            android:name="www.jykj.com.jykj_zxyl.app_base.base_service.NotificationService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
