<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyphenate.easeui">


    <uses-permission android:name="android.permission.VIBRATE" />
     <application >
         <activity

             android:name=".jykj.activity.SigningDetailsActivity"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
             />
         <activity android:name=".jykj.activity.CoachingActivity"/>
         <activity android:name=".jykj.activity.DetectActivity"/>
         <activity android:name=".jykj.activity.CancelAppointDetialActivity">

         </activity>
         <activity android:name=".jykj.activity.TerminationActivity2">

         </activity>
         <activity android:name=".jykj.activity.CancellationActivity">


         </activity>
         <activity android:name=".jykj.activity.AppointOrderDetialActivity">


         </activity>

         <!--Android-autoSize 设计稿目标宽高-->
         <meta-data
             android:name="design_width_in_dp"
             android:value="375"/>
         <meta-data
             android:name="design_height_in_dp"
             android:value="667"/>

         <!-- 适配全面屏 -->
         <meta-data
             android:name="android.max_aspect"
             android:value="2.4" />
         <!-- 适配华为(hua wei)刘海屏 -->
         <meta-data
             android:name="android.notch_support"
             android:value="true" />
         <!-- 适配小米(xiao mi)刘海屏 -->
         <meta-data
             android:name="notch.config"
             android:value="portrait|landscape" />

     </application>
</manifest>
