<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyphenate.easeui">


    <uses-permission android:name="android.permission.VIBRATE" />
     <application >
         <activity android:name=".jykj.activity.SigningDetailsActivity"/>
         <activity android:name=".jykj.activity.CoachingActivity"/>
         <activity android:name=".jykj.activity.DetectActivity"/>
         <activity android:name=".jykj.activity.CancelAppointDetialActivity">

         </activity>
         <activity android:name=".jykj.activity.CancellationActivity">


         </activity>
         <activity android:name=".jykj.activity.AppointOrderDetialActivity">


         </activity>

     </application>
</manifest>
